body{
	margin: 0;
}

.logo{
	float: left;
	/*max-height: 25px; */
}

.atas{
	padding: 25px;
	padding-bottom: 10px;
	padding-top: 10px;
	background-color: rgb(24, 56, 79);
	overflow: hidden;
	padding-right: 30px;
}

.nav{
	padding-top: 20px;
}

.nav a{
	float: right;
	text-align: right;
	background-color: white;
	color: black;
	text-align: center;
	padding: 8px 20px;
	text-decoration: none;
	font-size: 17px;
}

.nav a:hover{
	background-color: rgb(130,130,130);
	color: white;
}

.nav a.active{
	background-color: rgb(130,130,130);
	color: white;
}

.bawah{
	padding-top: 10px;
	/*text-align: center;*/
}

.foot{
	text-align: center;
	background-color: white;
}