<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>Ngakomas - About</title>
	<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/nav.css">
	<style type="text/css">
		.wadah{
			padding: 50px;
			padding-bottom: 100px;
			text-align: center;
			background-color: rgb(40,40,40);
		}
		.login{
			padding: 5px;
			background-color: rgb(237, 228, 196);
			color: black;
			margin-right: auto;
			margin-left: auto;
			width: 55%;
		}

		.tentang{
			padding: 15px;
			margin: auto;
			width: 50%;
			background-color: white;
			text-align: left;
			font-size: 18px;
		}

	</style>
</head>
<body>
	<div class="atas">
		<div class="logo">
    		<img src="img/logo.jpeg">
    	</div>
		<div class="nav">
			<a href="registrasi.php">Register</a>
			<a href="login.php">Masuk</a>
			<a href="about.html" class="active">Tentang</a>
			<a href="home.html">Beranda</a>
		</div>
	</div>

	<div class="wadah">
		<div class="login">
			<h2><b>About</b></h2>
		</div>
		<div class="tentang">
			<ul>
				<li>
					<p>Ngakomas (Ngaturaken Perkoro Masyarakat) merupakan sebuah aplikasi berbasis website yang dikembangkan dengan tujuan untuk mempermudah dan mempercepat  pelaporan suatu masalah atau kejadian yang membutuhkan penanganan kepada pihak yang berwajib.</p>
				</li>	
				<li>
					Anggota Kelompok:<br>
					<ul style="list-style-type: decimal; padding-left: 20px;">
						<li>Raditya Mulya Nugroho	(162410101080)</li>
						<li>Irsandy Maula SV		(162410101094)</li>
					</ul>
				</li>
			</ul>
			<br>
			<p style="text-align: center;">&copy; 2018</p>
		</div>
		
	</div>

	<div class="bawah">
		<div class="foot">
			<h4>Ngakomas - Ngaturaken Perkoro Masyarakat</h4>
		</div>
	</div>
	
	<script src="bootstrap/js/jquery-3.3.1.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		
	</script>
</body>
</html>